.aider*

# Project-related files
docs/*
# Run logs
backend/run_logs/*

# Weird Docker setup related files
backend/backend/*

# Env vars
frontend/.env.local
frontend/node_modules
.env

# Mac files
.DS_Store

# Python env
venv


modelserve/__pycache__/cad_detect.cpython-310.pyc
modelserve/__pycache__/cad_detect.cpython-310.pyc
modelserve/__pycache__/pipeline.cpython-310.pyc

modelserve/data/output/*
!/modelserve/data/output/dataouput

modelserve/data/input/*
!/modelserve/data/input/Data files are stored here

modelserve/run/*
!/modelserve/run/result

*.pyc
