ray == 2.10.0
ray[serve]
transformers
opencv-python
numpy
torch
Pillow 
paddleocr
paddlepaddle
starlette
onnxruntime
#pip3 install torch torchvision torchaudio --index-url https://download.pytorch.org/whl/cu121